{"installed":{"client_id":"406008740467-0va3mogsh06akib5nia79eaftovvu7h5.apps.googleusercontent.com","project_id":"quickstart-1582797532997","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"KP_EZYEhryrN6EJueYLhgYvS","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}